fastapi
uvicorn
python-multipart
openai
anthropic
requests
pydantic
asyncpg
psycopg2-binary
SQLAlchemy
pytest
black
PyPDF2
langchain
langchain-core
langchain-community
langchain-cli
langchain_deepseek
prometheus-fastapi-instrumentator
psutil
pyjwt
google-generativeai
google
mimetypes
